/* You can add global styles to this file, and also import other style files */
* {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

html,
body {
  /* Dar formato a la imagen */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-image: linear-gradient(red, yellow);
  margin: 20px;
  color: #3e4144;
  -webkit-font-smoothing: antialiased;
}

dd {
  font-weight: bold;
}

button {
  background-color: black;
  border-radius: 5px;
  border: 0px;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
}

button:hover {
  background-color: #3e4144;
}

button:focus {
  outline: none;
}

.p-1 {
  padding: 1px;
}

.row {
  display: flex;
}

.col {
  flex-grow: 1;
  margin-right: 10px;
}

input {
  color: rgb(22, 15, 7);
  display: block;
  margin: 5px;
}

.personajes {
  color: blue;
  font-weight: bold;
}

.agregar {
  color: green;
  font-weight: bold;
}

.rainbow-text {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    rgb(30, 219, 46)
  );
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 100px;
}

input {
  border-radius: 5px;
  border: 5px solid rgb(9, 10, 10);
}

li {
  color: black;
  font-weight: bold;
}

small {
  color: yellow;
  font-weight: bold;
}
